* {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.mission-table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

.mission-table th,
.mission-table td {
  padding: 8px;
  border: 1px solid #f2f2f2;
}

.mission-table th {
  background-color: #f2f2f2;
}

.mission-table tr:nth-child(even) {
  background-color: #fff;
}

.mission-table tr:nth-child(odd) {
  background-color: #e9e9e9;
}

.active-member-badge {
  background-color: rgb(44, 150, 145);
  padding: 5px;
  border-radius: 5px;
  color: white;
  box-sizing: content-box;
}

.not-member-badge {
  background-color: rgb(122, 126, 122);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.mission-status {
  width: 150px;
}

.mission-actioin {
  width: 150px;
}

.joined-missions {
  list-style: none;
  border: 0.5px solid gray;
  width: 40%;
  padding: 20px;
}

.mission-jion-header {
  margin-left: 4%;
}
